<form [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <div>
      <label for="descricao">Descrição:</label>
      <input id="descricao" formControlName="descricao" />
    </div>
    <div>
      <label for="preco">Preço:</label>
      <input id="preco" type="number" formControlName="preco" />
    </div>
    <div>
      <label for="dataValidade">Data de Validade:</label>
      <input id="dataValidade" type="date" formControlName="dataValidade" />
    </div>
    <button type="submit">Salvar</button>
  </form>
  